---
interface Props {
    totalPhotos: number;
}

const { totalPhotos } = Astro.props;
---

<footer
    class="lg:hidden fixed bottom-0 left-0 right-0 h-10 bg-[var(--color-surface-container-low)] z-50 flex items-center justify-between px-6"
>
    <div class="flex items-center gap-2">
        <div class="w-1.5 h-1.5 bg-[var(--color-primary)] animate-pulse rounded-none"></div>
        <span
            class="text-[9px] font-mono text-neutral-400 uppercase tracking-tighter"
            >TOTAL HOLDINGS: {totalPhotos} ASSETS</span
        >
    </div>
    <div
        class="text-[9px] font-mono text-neutral-600 uppercase tracking-tighter"
    >
        LAST_UPDATE: {
            new Date().toLocaleTimeString("en-US", {
                hour: "2-digit",
                minute: "2-digit",
                hour12: false,
            })
        }
    </div>
</footer>
